<div class='col-sm-5 body-content' *ngIf="publisher !== undefined">
  <div>
    <h1>{{publisher.name}}</h1>
    <div class="row">
      <select class="form-control col-sm-3" (change)="onChange($event.target.value, null)">
        <option value="Any" selected>Any</option>
        <option *ngFor="let key of keys" [value]="key" [label]="dubType[key]"></option>
      </select>
      <br />
      <select class="form-control col-sm-3" (change)="onChange(null, $event.target.value)">
        <option value="Any" selected>Any</option>
        <option *ngFor="let anime of animes" [value]="anime.name" [label]="anime.name"></option>
      </select>
    </div>
    <ul class='list'>
      <li *ngFor="let filteredPublisher of filteredPublishers">
        <a href={{filteredPublisher.anime.pageSrc}} target="_blank">
          <span><b>{{filteredPublisher.anime.name}}({{filteredPublisher.episodeNum}}-я серия)</b> - {{filteredPublisher.updateDate}}</span><br />
        </a>
        <span>{{(filteredPublisher.dubType === 1)? 'Озвучка':'Субтитры'}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="col-sm-4" *ngIf="publisher !== undefined">
  <anime-preview [anime]="selectedAnime">
  </anime-preview >
</div>
