<div *ngIf="publisher !== undefined">
  <h1>{{publisher.name}}</h1>
  <select (change)="onChange($event.target.value, null)">
    <option [ngValue]="Any" selected>Any</option>
    <option *ngFor="let key of keys" [value]="key" [label]="dubType[key]"></option>
  </select>
  <select (change)="onChange(null, $event.target.value)">
    <option [ngValue]="Any" selected>Any</option>
    <option *ngFor="let animeName of animeNames" [value]="animeName" [label]="animeName"></option>
  </select>
  <ul class='list'>
    <li *ngFor="let filteredPublisher of filteredPublishers">
      <span><b>{{filteredPublisher.anime.name}}({{filteredPublisher.episodeNum}}-я серия)</b> - {{filteredPublisher.updateDate}}</span><br />
      <span>{{(filteredPublisher.dubType === 1)? 'Озвучка':'Субтитры'}}</span>
    </li>
  </ul>
</div>
